In [62]:
import pandas as pd

In [63]:
#IMPORT ALL THE FILES AND KEEP ONLY DESIRERED COLUMNS OF THE EVENT DATA

col = ['DATE','TIME','c','D','E','F','G','H','I','J']
drop_cols = ['c','D','E','F','G','I','J']

AUD_USD_df = pd.read_csv('AUDUSD-2000-2020-15m.csv') #AUS_USD CURRENCY DATA SET

AUD_GDP_df = pd.read_csv('AUD_GDP.csv',header = None,names = col,parse_dates= [[0,1]]) 
AUD_GDP_df = AUD_GDP_df.drop(columns=drop_cols)

AUD_PPI_df = pd.read_csv('AUD_PPI.csv',header = None,names = col,parse_dates= [[0,1]])
AUD_PPI_df = AUD_PPI_df.drop(columns=drop_cols)

AUD_RETAILSALES_df = pd.read_csv('AUD_RETAILSALES.csv',header = None,names = col,parse_dates= [[0,1]])
AUD_RETAILSALES_df = AUD_RETAILSALES_df.drop(columns=drop_cols)

AUD_UNEMP_df = pd.read_csv('AUD_UNEMP.csv',header = None,names = col,parse_dates= [[0,1]])
AUD_UNEMP_df = AUD_UNEMP_df.drop(columns=drop_cols)

AUD_CPI_df = pd.read_csv('AUD_CPI.csv',header = None,names = col,parse_dates= [[0,1]])
AUD_CPI_df = AUD_CPI_df.drop(columns=drop_cols)

USD_CPI_df = pd.read_csv('USD_CPI.csv',header = None,names = col,parse_dates= [[0,1]])
USD_CPI_df = USD_CPI_df.drop(columns=drop_cols)

USD_GDP_df = pd.read_csv('USD_GDP.csv',header = None,names = col,parse_dates= [[0,1]])
USD_GDP_df = USD_GDP_df.drop(columns=drop_cols)

USD_IR_df = pd.read_csv('USD_IR.csv',header = None,names = col,parse_dates= [[0,1]])
USD_IR_df = USD_IR_df.drop(columns=drop_cols)

USD_PAYROLL_df = pd.read_csv('USD_PAYROLL.csv',header = None,names = col,parse_dates= [[0,1]])
USD_PAYROLL_df = USD_PAYROLL_df.drop(columns=drop_cols)

USD_PPI_df = pd.read_csv('USD_PPI.csv',header = None,names = col,parse_dates= [[0,1]])
USD_PPI_df = USD_PPI_df.drop(columns=drop_cols)

USD_RETAIL_df = pd.read_csv('USD_RETAIL.csv',header = None,names = col,parse_dates= [[0,1]])
USD_RETAIL_df = USD_RETAIL_df.drop(columns=drop_cols)

USD_UNEMP_df = pd.read_csv('USD_UNEMP.csv',header = None,names = col,parse_dates= [[0,1]])
USD_UNEMP_df = USD_UNEMP_df.drop(columns=drop_cols)



 
AUD_GDP_df

             DATE_TIME    H
0  2011-03-01 19:30:00  0.7
1  2011-05-31 20:30:00 -1.2
2  2011-09-06 20:30:00  1.2
3  2011-12-06 19:30:00  1.0
4  2012-03-06 19:30:00  0.4
5  2012-06-05 20:30:00  1.3
6  2012-09-04 20:30:00  0.6
7  2012-12-04 19:30:00  0.5
8  2013-03-05 19:30:00  0.6
9  2013-06-04 20:30:00  0.6
10 2013-09-03 20:30:00  0.6
11 2013-12-03 19:30:00  0.6
12 2014-03-04 19:30:00  0.8
13 2014-06-03 20:30:00  1.1
14 2014-09-02 20:30:00  0.5
15 2014-12-02 19:30:00  0.3
16 2015-03-03 19:30:00  0.5
17 2015-06-02 20:30:00  0.9
18 2015-09-01 20:30:00  0.2
19 2015-12-01 19:30:00  0.9
20 2016-03-01 19:30:00  0.6
21 2016-05-31 20:30:00  1.1
22 2016-09-06 20:30:00  0.5
23 2016-12-06 19:30:00 -0.5
24 2017-02-28 19:30:00  1.1
25 2017-06-06 20:30:00  0.3
26 2017-09-05 20:30:00  0.8
27 2017-12-05 19:30:00  2.8
28 2018-03-06 20:30:00  0.4
29 2018-06-05 21:30:00  1.0
30 2018-09-04 21:30:00  0.9
31 2018-12-04 19:30:00  0.3
32 2019-03-05 20:30:00  0.2
33 2019-06-04 20:30:00  0.4
34 2019-09-03 20:30:00  0.5
35 2019-12-03 19:30:00  0.4
36 2020-03-03 20:30:00  0.5
37 2020-06-02 21:30:00 -0.3
38 2020-09-01 21:30:00 -7.0

In [66]:
d =AUD_USD_df.loc[272143:500027 ,:]
df = d.reset_index(drop=True)
 
df.merge(AUD_GDP_df, on = 'DATE_TIME', how = 'left', suffixes = ('','AUD_GDP'))

                  DATE_TIME     HIGH      LOW     OPEN    CLOSE
0       2011.01.03 00:15:00  1.02132  1.02041  1.02131  1.02049
1       2011.01.03 00:30:00  1.02144  1.02023  1.02049  1.02125
2       2011.01.03 00:45:00  1.02149  1.02116  1.02129  1.02117
3       2011.01.03 01:00:00  1.02214  1.02084  1.02118  1.02099
4       2011.01.03 01:15:00  1.02119  1.02017  1.02098  1.02051
...                     ...      ...      ...      ...      ...
227879  2020.03.19 05:00:00  0.55519  0.55138  0.55518  0.55405
227880  2020.03.19 05:15:00  0.55528  0.55269  0.55406  0.55427
227881  2020.03.19 05:30:00  0.56336  0.55408  0.55427  0.55843
227882  2020.03.19 05:45:00  0.55907  0.55530  0.55846  0.55576
227883  2020.03.19 06:00:00  0.55812  0.55576  0.55576  0.55712

[227884 rows x 5 columns]